<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SP_Load_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SP_Load_Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings >
    <!--<add name="TSAmeportEntities1" connectionString="metadata=res://*/Entity.ModelAmeport.csdl|res://*/Entity.ModelAmeport.ssdl|res://*/Entity.ModelAmeport.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ultra01\sql2012;initial catalog=ameport_Ameport;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=facutisman-pc;initial catalog=TS_Gestion_030118;Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--Desarrollo/Testing-->
    <!--<add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=158.69.112.103;initial catalog=TS_Gestion_Prueba;Persist Security Info=True;User ID=sa;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--azure-->
    <add name="GestionEntities" connectionString="metadata=res://*/Entitys.Modelo_Gestion.csdl|res://*/Entitys.Modelo_Gestion.ssdl|res://*/Entitys.Modelo_Gestion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:serversql.database.windows.net,1433;initial catalog=TS_Gestion_idGroup;Persist Security Info=True;User ID=Timesolution;Password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="ModeloImportacion" connectionString="metadata=res://*/Entitys.ModeloImportacion.ModeloImportacion.csdl|res://*/Entitys.ModeloImportacion.ModeloImportacion.ssdl|res://*/Entitys.ModeloImportacion.ModeloImportacion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:serversql.database.windows.net,1433;initial catalog=Host_ImpExp_IDGroup;user id=Timesolution;password=Timesol1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <SP_Load_Data.Properties.Settings>
      <setting name="FTP" serializeAs="String">
        <value>158.69.112.103</value>
      </setting>
      <setting name="Pass" serializeAs="String">
        <value>Timesol1</value>
      </setting>
      <setting name="User" serializeAs="String">
        <value>testingts</value>
      </setting>
      <setting name="Path_Log" serializeAs="String">
        <value>C:\Proyectos\Reportes\Gestion.ServiciosDeReportes\SP_Load_Data_SVR\Log\</value>
      </setting>
    </SP_Load_Data.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <SP_Load_Data.Properties.Settings>
      <setting name="rutaFTP" serializeAs="String">
        <value>/httpdocs/Informes/</value>
      </setting>
      <setting name="rutaReporte" serializeAs="String">
        <value>C:\Users\black\Documents\Trabajo\Proyectos\Gestion.ServiciosDeReportes\SP_Load_Data_SVR\SP_Load_Data\SP_Load_Data\Reportes\</value>
      </setting>
      <setting name="rutaDescarga" serializeAs="String">
        <value>C:\Proyectos\Reportes\Gestion.ServiciosDeReportes\SP_Load_Data_SVR\SP_Load_Data\Descarga Archivos\</value>
      </setting>
    </SP_Load_Data.Properties.Settings>
  </userSettings>
</configuration>